	</div>
	</div>
	</div>
	<footer class="">
	</footer>
	<script type="text/javascript" src="javascripts/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
</body>
</html>