
<div class="navbar navbar-default" role="navigation">
	<div class="conteiner-fluid">
		<div class="navbar-header">
			<ul class="nav navbar-nav">
				<li>
					Teste
				</li>
			</ul>
		</div>
	</div>
</div>