<%include head %>
<% include header %>
	
	<h1>NTalk</h1>
	<div class="col-sm-6 col-md-4"  >
			<a href="/">
				<img data-src="holder.js/300x200" src="/img/img-qn-4041.gif">
			</a>
	</div>
<% include footer %>