<%include head %>
<% include header %>
	<h1>NTalk</h1>
	<h4>
		Aconteceu algo terrivel
	</h4>
	<p>
		Veja os detalhes do erro:
		<br />
		<%- error.message %>
	</p>
	<p>Voltar a tela inicial
		<a href="/">Home page</a>
	</p>
<% include footer %>